<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON Formatter</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="font-sans text-left">

    <nav class="bg-gray-800 p-4">
        <div class="w-full">
            <h1 class="text-2xl font-semibold text-white">JSON Search</h1>
        </div>
    </nav>

    <div class="w-full p-6">
        <div class="mb-4">
            <input type="text" id="search-box" placeholder="search the json" class="w-1/4 border border-gray-300 rounded mb-2">
            <button id="search-button" class="px-2 bg-blue-600 text-white rounded">Search</button>
        </div>

        <div class="mb-4 flex items-center">
            <div class="mr-4">
                <label for="highlight-color" class="block text-sm font-medium text-gray-700">Highlight Color</label>
                <input type="color" id="highlight-color" name="highlight-color" value="#ffff00" class="w-16 h-8">
            </div>
            <div class="mr-4">
                <label for="theme" class="block text-sm font-medium text-gray-700">Theme</label>
                <select id="theme" name="theme" class="w-32 h-8 border border-gray-300 rounded">
                    <option value="base">Base</option>
                    <option value="dark">Dark</option>
                    <option value="light">Light</option>
                    <option value="solarized">Solarized</option>
                </select>
            </div>
            <div>
                <label for="delimiter" class="block text-sm font-medium text-gray-700">Delimiter</label>
                <select id="delimiter" name="delimiter" class="w-32 h-8 border border-gray-300 rounded">
                    <option value="->">-></option>
                    <option value="[]">[]</option> 
                    <option value=".">.</option>
                    <option value="/">/</option>
                    <option value="|">|</option>
                    <option value=":">:</option>
                </select>
            </div>
        </div>

        <div class="mb-4">
            <div id="json-input" contenteditable="true" class="w-full p-4 border border-gray-300 rounded h-96 overflow-auto font-mono placeholder">Let's json!</div>
        </div>

        <div class="mb-4">
            <h2 class="text-lg font-semibold mb-2">search paths</h2>
            <pre id="result-box" class="w-full p-1 h-32 overflow-auto"></pre>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
